
   a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-style: italic;
    }

p{
  color: green;
  background-color: black;
}
p1{
  color: white;
  background-color: black;
}